
@import url(./more1920.css) screen and (min-width: 1920px);
body,
html {
  height: 100%;
}

main {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

@media screen and (max-width:1920px) {
  .rock_1 {
    position: absolute;
    left: 54%;
    top: 60vw;
    background-image: url(../img/layer_1/rock_1.svg);
    max-width: 775px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 814px;
    width: 41vw;
    height: 56vw;
  }
  
  
  .rock_2 {
    position: absolute;
    left: 7%;
    top: 40vw;
    background-image: url(../img/layer_1/rock_2.svg);
    max-width: 616px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 814px;
    width: 32vw;
    height: 52vw;
  }
  
  .rock_3 {
    position: absolute;
    top: -4vw;
    left: 25%;
    background-image: url(../img/layer_1/rock_3.svg);
    max-width: 547px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 797px;
    width: 29vw;
    height: 52vw;
  }
  
  .diamond {
    position: absolute;
    left: 7%;
    top: 86vw;
    background-image: url(../img/layer_1/diamond.svg);
    max-width: 1378px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 1445px;
    width: 72vw;
    height: 76vw;
  }
  
  .circle__size_medium_1 {
    position: absolute;
    left: 2%;
    top: 124vw;
    background-image: url(../img/layer_1/circle__size_medium.svg);
    max-width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 769px;
    width: 16vw;
    height: 12vw;
  }
  .circle__size_medium_2 {
    position: absolute;
    left: 2%;
    top: 137vw;
    background-image: url(../img/layer_1/circle__size_medium.svg);
    max-width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 769px;
    width: 16vw;
    height: 12vw;
  }
  .circle__size_medium_3 {
    position: absolute;
    left: 2%;
    top: 150vw;
    background-image: url(../img/layer_1/circle__size_medium.svg);
    max-width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 769px;
    width: 16vw;
    height: 12vw;
  }
  
  .circle__size_big_1 {
    position: absolute;
    right: -5%;
    top: 12vw;
    background-image: url(../img/layer_2/circle__size_big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16vw;
    height: 21vw;
  }
  .circle__size_big_2 {
    position: absolute;
    right: -5%;
    top: 30vw;
    background-image: url(../img/layer_2/circle__size_big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16vw;
    height: 21vw;
  }
  
  .wave__position_top_left {
    position: absolute;
    left: 2%;
    top: 8vw;
    background-image: url(../img/layer_2/wave__position_top_left.svg);
    max-width: 932px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 1576px;
    width: 49vw;
    height: 81vw;
  }
  
  .rainbow__position_bottom_right {
    position: absolute;
    left: 23.4%;
    top: 106.5vw;
    background-image: url(../img/layer_2/rainbow__position_bottom_right.svg);
    max-width: 1505px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 1094px;
    width: 73vw;
    height: 61vw;
  }
  
  .radial__position_top_right {
    position: absolute;
    left: 43%;
    top: 6vw;
    background-image: url(../img/layer_2/radial__position_top_right.svg);
    max-width: 1890px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 1773px;
    width: 55vw;
    height: 92vw;
  }
  
  .radial__position_middle_left {
    position: absolute;
    left: 4%;
    top: 73vw;
    background-image: url(../img/layer_2/radial__position_middle_left.svg);
    max-width: 1097px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 362px;
    width: 57vw;
    height: 19vw;
  }
  
  .gradient__position_top_middle {
    position: absolute;
    left: 31%;
    top: 12vw;
    background-image: url(../img/layer_2/gradient__position_top_middle.svg);
    max-width: 456px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 887px;
    width: 24vw;
    height: 46vw;
  }
  
  .corals__position_top_left {
    position: absolute;
    left: 1%;
    top: 8vw;
    background-image: url(../img/layer_2/corals__position_top_left.svg);
    /* max-width: 456px; */
    background-size: contain;
    background-repeat: no-repeat;
    /* max-height: 887px; */
    width: 24vw;
    height: 46vw;
  }
  
  .radial__position_bottom_left {
    position: absolute;
    left: 6.5%;
    top: 89vw;
    background-image: url(../img/layer_2/radial__position_bottom_left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26vw;
    height: 67vw;
  }
  
  .rainbow__position_middle_middle {
    position: absolute;
    left: 16%;
    top: 50vw;
    background-image: url(../img/layer_2/rainbow__position_middle_middle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 33vw;
    height: 53vw;
  }
  
  .rainbow__position_bottom_middle {
    position: absolute;
    left: 16%;
    top: 99vw;
    background-image: url(../img/layer_2/rainbow__position_bottom_middle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 33vw;
    height: 23vw;
  }
  
  .circle__size_small_1 {
    position: absolute;
    left: -4%;
    top: 63.5vw;
    background-image: url(../img/layer_2/circle__size_small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 11vw;
    height: 11vw;
  }
  .circle__size_small_2 {
    position: absolute;
    left: 8%;
    top: 63.5vw;
    background-image: url(../img/layer_2/circle__size_small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 11vw;
    height: 11vw;
  }
  .circle__size_small_3 {
    position: absolute;
    left: 20%;
    top: 63.5vw;
    background-image: url(../img/layer_2/circle__size_small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 11vw;
    height: 11vw;
  }
  
  .gradient__position_bottom_right {
    position: absolute;
    left: 32.1%;
    top: 97vw;
    background-image: url(../img/layer_2/gradient__position_bottom_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 66vw;
    height: 34vw;
    
  }
  
  .corals__position_middle_right {
    position: absolute;
    left: 51%;
    top: 30vw;
    background-image: url(../img/layer_2/corals__position_middle_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 47vw;
    height: 68vw;
  }
  
  .moon {
    position: absolute;
    left: 44%;
    top: 7.2vw;
    background-image: url(../img/layer_3/moon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 54vw;
    height: 91vw;
  }
  
  .white_lines_top {
    position: absolute;
    left: 31%;
    top: 11.3vw;
    background-image: url(../img/layer_3/white_lines_top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24vw;
    height: 47vw;
  }
  
  .white_lines_bottom {
    position: absolute;
    left: 30%;
    top: 95.9vw;
    background-image: url(../img/layer_3/white_lines_bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 68vw;
    height: 35vw;
  }
  
  .corals__position_bottom_right {
    position: absolute;
    left: 34%;
    top: 113vw;
    background-image: url(../img/layer_3/corals__position_bottom_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 43vw;
  }
  
}

